*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    width: 100%;
    height: 100vh;
}
.calculator{
    background-color: rgb(52, 51, 51);
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5px;
}
#result{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4)inset;
    font-size: 24px;
}
.btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 10px;
}
button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9) ;
}
button:hover{
    background-color: grey;
    color: white;
}
.clear{
    background-color: red;
    color: white;
}
.operator{
    background-color: orange;
    color: white;
}
.equal{
    background-color: bisque;
    color: white;
    grid-row: span 3;
}
.zero{
    grid-column: span 2;
}